.title {
    &_fs55{
        font-weight: 600;
        font-size: 2.865vw;
        line-height: 4.427vw;
    }
    &_fs55-300 {
        font-weight: 300;
        font-size: 2.865vw;
        line-height: 4.427vw;
    }
}