@import './base/fonts';
@import './base/variables';
@import './base/title';
@import './base/text';
@import './media/media';

@import './blocks/header/header';



* {
    font-family: 'Montserrat';
    font-size: 14px;
    color:$dark-grey;
}

.container{
    max-width: 81.77vw;
    margin: 0 auto;
}