@import './base/fonts';
@import './base/variables';
@import './base/title';
@import './base/text';
@import './media/media';

@import './blocks/header/header';
@import './blocks/main/main';
@import './blocks/modal/modal';


* {
    font-family: 'Montserrat';
    font-size: 14px;
    color:$dark-grey;
}
body{
    height: 100vh;
    background: url(../assets/img/BG.png) center (center/cover)  no-repeat;
}

.container{
    max-width: 81.77vw;
    margin: 0 auto;
}

a, button{
    cursor: pointer;
}