.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(15, 15, 15, 0.815);
    .modal{
        box-sizing:border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28.646vw;
        background-color: $white;
        padding: 3.646vw 3.49vw 4.844vw 3.49vw;
        border-radius: 1.823vw;
        &__close{
            position: absolute;
               top: 2.344vw;
               right: 3.49vw;
               font-size: 1.0416vw;
               line-height: 1.0416vw;
               color:#a0a0a0;
        }
        &__phone{
            display: flex;
            flex-direction: column;
        }
        &__checked{

        }

    }
}